/*****************
    IMPORTS
*****************/
@import 'bourbon/bourbon';
@import 'base/base';
@import '_normalize';
@import '_mixins';
@import '_vars';


/*****************
  BASE STYLING
*****************/
html {
  background-color: $bg;
  box-sizing: $bx;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: $bx;
}

/*****************
CANVAS AND COLORSS
*****************/
#container {
  @include flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  width: 90%;
  height: 970px;
  background-color: red;
    canvas {
      width: 60%;
      height: 65%;
      background-color: $bg-w;
      box-shadow: 0 8px 6px -6px $bg-g;
    }
    #colors {
      width: 5%;
      height: 65%;
      background-color: blue;
      // box-shadow: 0 8px 6px -6px $bg-g;
      @include flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      .color {
        width: 70px;
        height: 70px;
        background-color: $bg-w;
        border: 1px solid #333;
        margin: 10px 0;
        flex: 1 0 auto;
        &:hover {
          animation: circle 0.1s ease-out;
          animation-fill-mode: forwards;
          cursor: pointer;
        }
        @keyframes circle {
          50% {
            border-radius: 20px;
          }
          100% {
            border-radius: 40px;
          }
        }
      }
    }
    #color-picker-wrapper   {
      width: 35%;
      height: 65%;
      background-color: yellow;
      position: relative;
      #color-picker-arrow {
        width: 0;
        height: 0;
        border-left: 15px solid #2f2f2f;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        position: absolute;
        left: 20%;
        top: 50%;
      }
      #color-picker-body {
        height: 100%;
        width: 20%;
        background-color: #2f2f2f;
        position: absolute;
        left: 0%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

}

/*****************
 COLOR PICKER
*****************/
